html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title login
    link(rel='stylesheet', href='/bootstrap.min.css')
    link(rel='stylesheet', href='/main.css')
  body
    h2 You are admin
    a(href='register') Register a new user!
    br
    a(href='list') List all registered users
    br
    a(href='attachmentupload') Upload files here
    br

    a(href='logout') Logout