html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title upload
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // link(rel='stylesheet', href='style/main.css')
  body
    a(href='dashboard') Dashboard
      br
      br
    form(method='post', enctype='multipart/form-data')
      | Select something to upload: 
      input#fileToUpload(type='file', name='fileToUpload')
      |  
      input(type='submit', value='Upload File', name='submit')
