html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title upload pls
    link(rel='stylesheet', href='/bootstrap.min.css')
    link(rel='stylesheet', href='/main.css')
  body
    form(action='attachmentupload', method='post', enctype='multipart/form-data')
      | Select something to upload: 
      input#fileToUpload(type='file', name='fileToUpload')
      |  
      input(type='submit', value='Upload File', name='submit')
